blurhash==1.1.4
cairocffi==1.7.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
configobj==5.0.9
decorator==5.2.1
idna==3.10
Mastodon.py==2.0.1
pycparser==2.22
python-dateutil==2.9.0.post0
python-magic==0.4.27
requests==2.32.4
six==1.17.0
urllib3==2.3.0
